<html>
  <head>
    <meta charset='utf-8' />
    <title>Message from {{appName}}'s Contact us Form</title>
  </head>
  <body>
    <p>Hi {{adminName}},</p>
    <p>You have been contacted from
     {{name}} at {{appName}}. Below is body of the message!</p>
     <br>
    <p>{{body}}</p>
    <p>PhoneNumber <a href="tel:+" style="color: #007bff;"> {{phoneNumber}} </a></p>
    <p>The {{appName}} team</p>
  </body>
</html>